.container-fluid
	.row-fluid
		.span12
			%h1 Clan TwGB
			We are an Island Troll Tribes clan on Warcraft III. Our home channel is Clan TwGB @ Azeroth (US East). We host the most current version of Island Troll Tribes on a 24/7 hostbot. It is also connected to US West and Europes battle.net servers.
