
.art-post-inner {
  label {
    display: block;
    font-weight: bold;
  }

  .value {
    margin-bottom: 1em;
  }

  h1 {
    font-size: 24px;
    color: #1f1f1f !important;
  }

  li {
    margin-bottom: 1em;
  }
}