.art-layout-cell.art-sidebar1
  .art-vmenublock
    .art-vmenublock-tl
    .art-vmenublock-tr
    .art-vmenublock-bl
    .art-vmenublock-br
    .art-vmenublock-tc
    .art-vmenublock-bc
    .art-vmenublock-cl
    .art-vmenublock-cr
    .art-vmenublock-cc
    .art-vmenublock-body
      .art-vmenublockheader
        .l
        .r
        %h3.t Useful Links
      .art-vmenublockcontent
        .art-vmenublockcontent-body
          %ul.art-vmenu
            %li
              %a.l{:href => "./?p=changes"}
                %span.l
                %span.l
                %span.r
                %span.t Changelogs & Downloads
            %li
              %a.l{:href => "http://islandtrolltribes.myfastforum.org", :target => "new1"}
                %span.l
                %span.r
                %span.t Island Troll Tribes Forums
            %li
              %a.l{:href => "http://islandtrolltribes.wikia.com/wiki/Island_Troll_Tribes_Official_Wiki", :target => "new2"}
                %span.l
                %span.r
                %span.t Island Troll Tribes Wikia
            %li
              %a.l{:href => "http://www.facebook.com/TwGBITT", :target => "new3"}
                %span.l
                %span.r
                %span.t TwGB Facebook Page
            %li
              %a.l{:href => "http://webmail.clantwgb.com", :target => "new4"}
                %span.l
                %span.r
                %span.t TwGB WebMail
          .cleared
      .cleared
  .art-block
    .art-block-tl
    .art-block-tr
    .art-block-bl
    .art-block-br
    .art-block-tc
    .art-block-bc
    .art-block-cl
    .art-block-cr
    .art-block-cc
    .art-block-body
      .art-blockheader
        .l
        .r
        %h3#current-game.t
          %span#current-game-title Current Game
          %span#current-game-hidden-area.hidden
            %input#alert-me{:type => "checkbox"}/
            Alert me at
            %input#alert-at{:style => "border-radius:8px;width:25px;text-align:center;", :type => "text", :value => "5"}/
            players
      .art-blockcontent
        .art-blockcontent-body
          %span#botstatus
          .cleared
      .cleared
  .cleared
  .art-block
    .art-block-tl
    .art-block-tr
    .art-block-bl
    .art-block-br
    .art-block-tc
    .art-block-bc
    .art-block-cl
    .art-block-cr
    .art-block-cc
    .art-block-body
      .art-blockheader
        .l
        .r
        %h3.t Stats
      .art-blockcontent
        .art-blockcontent-body
          %div
            %form{:action => "/users/", :method => "get", onsubmit: 'window.location="/users/"+$(\'#id\').val(); return false;'}
              %input{:name => "id", :id => "id", :onfocus => "this.value=''", :style => "width: 70%;", :type => "text", :value => "username"}/
               
              %span.art-button-wrapper>
                %span.art-button-l
                %span.art-button-r
                %input.art-button{:type => "submit", :value => "Go"}/
          .cleared
      .cleared
  .art-block
    .art-block-tl
    .art-block-tr
    .art-block-bl
    .art-block-br
    .art-block-tc
    .art-block-bc
    .art-block-cl
    .art-block-cr
    .art-block-cc
    .art-block-body
      .art-blockheader
        .l
        .r
        %h3.t TwGB Staff
      .art-blockcontent
        .art-blockcontent-body
          %div
            %ul
          .cleared
      .cleared
  #paypal.art-block
    .art-block-tl
    .art-block-tr
    .art-block-bl
    .art-block-br
    .art-block-tc
    .art-block-bc
    .art-block-cl
    .art-block-cr
    .art-block-cc
    .art-block-body
      .art-blockheader
        .l
        .r
        %h3.t Donate to TwGB
      .art-blockcontent
        .art-blockcontent-body
          %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_blank"}
            %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
            %input{:name => "encrypted", :type => "hidden", :value => "-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBiT1EsNgrG8YxzmxCJQkZ63cgYKdeWePSlb77lEjx1J43qp9IVwn9FoPApUT3HCL7n580xCSzBMFe6D7fbOccBd7ho5J8UvCTT838EmicfD+NR1azldsD5UtGrx/XTzrKD+nX2g4QmI+HnaNdDWeEdvIPwV+PTh20x1HeRa+8J3DELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIprPppDI/9CGAgZA93WydaDCCZSeEGAi2WsJLvnqK8md5SnMeCj6w81WFRkdNAXJsT7B1LsEiuh1ffJUdpjaiQfZCTrcbxzZlP50ljzYIvat520tChMt70Jx99+L0cZ93StyIy4mI5mBvwr9ZAewrcD500wy39WT6OsF0s63WUqbv9fiEDv92atubAWEvRUZAlRvK4b8/uvkLW+ygggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xMjA1MTAyMjAwMjVaMCMGCSqGSIb3DQEJBDEWBBTzKqS7+7jw0F2GmrKCwAJJcW0tEjANBgkqhkiG9w0BAQEFAASBgH/3dm6j5kj0g1GX46NZhOrrnapfoMrC1hLds4prjM0FHLSKusKL9rSkO4DU5+MuzgW+Fk3eQGKYwJ1RGPtlsxx+HGkiKF42z8pDz0Dd8Wn/6AK2iCwIShPZGPXv0y3YF7sQlxBGzHWCE3o/3/qXUFw39AdhdzTYjSM0wfE5HkGW-----END PKCS7-----\r\n"}/
            %br/
            %center
              %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif", :type => "image"}/
            %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/
          .cleared
      .cleared
  .cleared