.art-layout-cell.art-sidebar1
  .art-vmenublock
    .art-vmenublock-tl
    .art-vmenublock-tr
    .art-vmenublock-bl
    .art-vmenublock-br
    .art-vmenublock-tc
    .art-vmenublock-bc
    .art-vmenublock-cl
    .art-vmenublock-cr
    .art-vmenublock-cc
    .art-vmenublock-body
      .art-vmenublockheader
        .l
        .r
        %h3.t Useful Links
      .art-vmenublockcontent
        .art-vmenublockcontent-body
          %ul.art-vmenu
            %li
              %a.l{:href => "./?p=changes"}
                %span.l
                %span.l
                %span.r
                %span.t Changelogs & Downloads
            %li
              %a.l{:href => "http://islandtrolltribes.myfastforum.org", :target => "new1"}
                %span.l
                %span.r
                %span.t Island Troll Tribes Forums
            %li
              %a.l{:href => "http://islandtrolltribes.wikia.com/wiki/Island_Troll_Tribes_Official_Wiki", :target => "new2"}
                %span.l
                %span.r
                %span.t Island Troll Tribes Wikia
            %li
              %a.l{:href => "http://www.facebook.com/TwGBITT", :target => "new3"}
                %span.l
                %span.r
                %span.t TwGB Facebook Page
            %li
              %a.l{:href => "http://webmail.clantwgb.com", :target => "new4"}
                %span.l
                %span.r
                %span.t TwGB WebMail
          .cleared
      .cleared
  .art-block
    .art-block-tl
    .art-block-tr
    .art-block-bl
    .art-block-br
    .art-block-tc
    .art-block-bc
    .art-block-cl
    .art-block-cr
    .art-block-cc
    .art-block-body
      .art-blockheader
        .l
        .r
        %h3#current-game.t
          %span#current-game-title Current Game
          %span#current-game-hidden-area.hidden
            %input#alert-me{:type => "checkbox"}/
            Alert me at
            %input#alert-at{:style => "border-radius:8px;width:25px;text-align:center;", :type => "text", :value => "5"}/
            players
      .art-blockcontent
        .art-blockcontent-body
          %span#botstatus
          .cleared
      .cleared
  .cleared